.Header {
	text-align: center;
}
.admin-edit-page {
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #0c4a80;
    text-align: center;
    padding: 20px;
   
   
    
  }
  