
.Menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
  .Menu h1 {
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #110a6f;
	margin-bottom: 20px;
  }
  .Menu a {
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #0a0909;
	margin-bottom: 5px;
	padding: 10px 20px;
	background-color: #51e3e8;
	border-radius: 6px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .Menu a:hover {
	background-color: #24d7dd;
  }
  